# Modify there to match your debugger hw & cpu
source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

# Helper functions
proc setbits {ADDR MASK} {
   set data(0) 0 
   mem2array data 32 $ADDR 1
   set data(0) [expr $data(0) | $MASK]
   array2mem data 32 $ADDR 1
}

proc clearbits {ADDR MASK} {
   set data(0) 0 
   mem2array data 32 $ADDR 1
   set data(0) [expr $data(0) & ~$MASK]
   array2mem data 32 $ADDR 1
}

# Register addresses
set RCC_APB2ENR          0x40021018

set AFIO_MAPR            0x40010004
# Debug MCU configuration register
set DBGMCU_CR            0xe0042004
# Debud Exception and Monitor Control Register; we need to set the TRCENA bit to enable access to the TPIU
set COREDEBUG_DEMCR      0xe000edfc
# TPIU Acychronous Clock Prescaler Register
set TPI_ACPR             0xe0040010
# TPIO Selected Pin Protocol Register
set TPI_SPPR             0xe00400f0
# Formatter and flush control register
set TPI_FFCR             0xe0040304
# Device ID - if last bit is set, we have ETM enabled - Cortex M4 manual, page 106
set TPI_DEV_ID 0xE0040FC8
# Data Watchpoint and Trace Control Register - defined in ARMv7 Architecture Manual page 879
set DWT_CTRL             0xe0001000
# ITM Lock Access Register
set ITM_LAR              0xe0000fb0
# ITM Trace Control Register
set ITM_TCR              0xe0000e80
# ITM Trace Enable - Each bit corresponds to a stimulus port to enable
set ITM_TER              0xe0000e00
# ITM Trace Privilege Register - enabled various tracing ports
set ITM_TPR		 0xE0000E40

# ETM Config Registers
# ETM Lock Access Register
set ETM_LAR              0xe0041fb0
# ETM Control Register
set ETM_CR               0xe0041000
# ETM Trace ID Register
set ETM_TRACEIDR         0xe0041200
# ETM Trace Start Stop Register
set ETM_TSSR            0xe0041024
# ETM Trigger Event Register
set ETM_TER              0xe0041008
# ETM Trace Enable Event Register
set ETM_TEE		 0xE0041020

# Stop the CPU while we configure
init
reset halt

# Alternate function IO clock enable
#setbits $RCC_APB2ENR 1                     ;# AFIOEN
# Set SWG_CFG[2:0] bits to be 010 JTAG-DP Disabled and SW-DP Enabled
#setbits $AFIO_MAPR 0x2000000               ;# Disable JTAG
# TRACE_IOEN = 1 TRACE_MODE[1:0] = 0 - Asynchronous tracing on TRACESWO
setbits $DBGMCU_CR 0x20                    ;# Enable trace IO pins
# Set TRCENA bit in COREDEBUG_DEMCR
setbits $COREDEBUG_DEMCR 0x1000000         ;# Enable access to trace regs

# TPIO Asynchronous Clock Prescale Register - Prescaler value for SWO
# STM32F41 Has 16 MHz internal clock, found in ARMv7 Architecture manual
# 31 = ~480KHz
# 3 = 4MHz
#mww $TPI_ACPR 63                           ;# Higher value for use post CLK config
mww $TPI_ACPR 3                           ;# Trace clock divider HCLK/(x+1)
# TPIO Reg - Selected pin protocol
mww $TPI_SPPR 2                            ;# Pin protocol: 0 = Sync Trace Port Mode, 1 = NRZ, 2 =USART, 3 = Reserved
# TPIO Reg: Formatter and flush control
mww $TPI_FFCR 0x102                        ;# Enable TPIU framing (0x100 to disable)
# DWT config
# https://developer.arm.com/documentation/ddi0403/d/Debug-Architecture/ARMv7-M-Debug/The-Data-Watchpoint-and-Trace-unit/DWT-register-summary?lang=en
mww $DWT_CTRL 0x40011a01                   ;# 1/512 PC sampling, exc trace, this is determined by bit 12, see page 879 of armv7 reference manual, speed is handled by POSTCNT timer, when the timer fires, PC is sampled. It should be noted that these packets are NOT the same as the PC trace packets that are generated by the DWT comparators

# ETM config
# ETM configuration example
# To output a simple value to the TPIU:
# Write 0xC5AC CE55 to the ETM Lock Access Register to unlock the write accesITM registers
mww $ETM_LAR 0xC5ACCE55
# Write 0x0000 1D1E to the ETM control register (configure the trace)
#mww $ETM_CR 0x00001D1E 
mww $ETM_CR 0x00201d0e
# Set stream
mww $ETM_TRACEIDR 1                        ;# TraceBusID 1
# Write 0x0000 406F to the ETM Trigger Event register (define the trigger event)
mww $ETM_TER 0x0000406F
# Write 0x0000 006F to the ETM Trace Enable Event register (define an event to start/stop)
mww $ETM_TEE 0x0000006F
# Write 0x0000 0001 to the ETM Trace Start/stop register (enable the trace)
mww $ETM_TSSR 0x00000001
# Write 0x0000191E to the ETM Control Register (end of configuration)
mww $ETM_CR 0x0000191E
