source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

# Helper functions
proc setbits {ADDR MASK} {
   set data(0) 0 
   mem2array data 32 $ADDR 1
   set data(0) [expr $data(0) | $MASK]
   array2mem data 32 $ADDR 1
}

proc clearbits {ADDR MASK} {
   set data(0) 0 
   mem2array data 32 $ADDR 1
   set data(0) [expr $data(0) & ~$MASK]
   array2mem data 32 $ADDR 1
}

# Debug MCU configuration register
set DBGMCU_CR            0xe0042004
# Debud Exception and Monitor Control Register; we need to set the TRCENA bit to enable access to the TPIU
set COREDEBUG_DEMCR      0xe000edfc
# TPIU Acychronous Clock Prescaler Register
set TPIU_ACPR             0xe0040010
# TPIO Selected Pin Protocol Register
set TPIU_SPPR             0xe00400f0
# Formatter and flush control register
set TPIU_FFCR             0xe0040304
# TPIU Corrent Port Size Selection Register
set TPIU_CPSR 			 0xE0040004
# Device ID - if last bit is set, we have ETM enabled - Cortex M4 manual, page 106
set TPI_DEV_ID 0xE0040FC8
# Data Watchpoint and Trace Control Register - defined in ARMv7 Architecture Manual page 879
set DWT_CTRL             0xe0001000

set ETM_LAR              0xe0041fb0
set ETM_CR               0xe0041000
set ETM_TRACEIDR         0xe0041200
set ETM_TECR1            0xe0041024
set ETM_FFRR             0xe0041028
set ETM_FFLR             0xe004102c
# ETM Trigger Event Register
set ETM_TER              0xe0041008
set ETM_TEE		 0xE0041020


# Enable the TPIU 
init
reset halt
# TRACE_IOEN = 1 TRACE_MODE[1:0] = 0 - Asynchronous tracing on TRACESWO
setbits $DBGMCU_CR 0x20                    ;# Enable trace IO pins
# Set TRCENA bit in COREDEBUG_DEMCR
setbits $COREDEBUG_DEMCR 0x1000000         ;# Enable access to trace regs
# TPIU Current Port Size Selection Register
mww $TPIU_CPSR 1
# TPIU Asynchronous Clock Prescale Register - Prescaler value for SWO
mww $TPIU_ACPR 3                           ;# Trace clock divider HCLK/(x+1)
# TPIU Reg - Selected pin protocol
mww $TPIU_SPPR 2                            ;# Pin protocol: 0 = Sync Trace Port Mode, 1 = NRZ, 2 =USART, 3 = Reserved
# TPIU Reg: Formatter and flush control
mww $TPIU_FFCR 0x102                        ;# Enable TPIU framing (0x100 to disable)

# Configure the ETM
# Write 0xC5AC CE55 to the ETM Lock Access Register to unlock 
mww $ETM_LAR 0xC5ACCE55
# Write 0x00020 1D0E to the ETM control register (configure the trace)
mww $ETM_CR 0x00201d0e
# Set stream
mww $ETM_TRACEIDR 1                        ;# TraceBusID 1
# Write 0x0000 406F to the ETM Trigger Event register 
mww $ETM_TER 0x0000406F
# Write 0x0000 006F to the ETM Trace Enable Event register 
mww $ETM_TEE 0x0000006F
# Write 0x0000 0001 to the ETM Trace Start/stop register 
mww $ETM_TECR1 0x00000001
# Write 0x0000191E to the ETM Control Register 
mww $ETM_CR 0x0000191E
